<!-- Quick start section -->
<section class="bgWhite" id="chronixstack">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Chronix Stack</h2>
                <hr class="star-white">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    The whole Chronix Stack is open source and is free to use for everyone without any restrictions. One
                    can use the stack using plain Chronix blocks, such as the Chronix Collector, a tool for collecting
                    jmx values via ssh from several applications, or the Chronix Analytics, a JavaFX rich client for
                    time series exploration. If preferred a stack using <a href="http://collectd.org/">collectd</a> or
                    <a href="https://github.com/elastic/logstash">logstash</a> as collection framework amd <a
                        href="http://grafana.org/">Grafana</a> or <a href="https://zeppelin.incubator.apache.org/">Apache
                    Zeppelin</a> is also possible. The following figure shows the Chronix Stack.
                </p>
                <img src="img/documentation/chronix-stack.png" class="img-responsive center-block" width="80%"
                     alt="Chronix Stack">
                <p>
                    Note: Some of the shown parts are not yet released or in a stable version, such as the Grafana
                    source plugin for Chronix. We will release them soon as possible. We promise! In the meantime, stay
                    tuned.
                </p>

            </div>
        </div>
    </div>
</section>

