<!-- Documentation section -->
<section id="about" class="bgGray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-gray">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Chronix natively speaks <b>time series</b>. You can store nearly every kind of
                    data type within a time series due to its flexible design. You decide what a time series looks like.

                    <br><br>

                    Chronix is built to store time series highly compressed and for fast access times.
                    In comparison to related time series databases, Chronix does not only take 5 to 171 times less
                    space,
                    but it also shaves off 83&#37; of the access time, and up to 78&#37;
                    off the runtime on a mix of real world queries.
                    For the measurements we used a commodity hardware laptop computer and Chronix using the Apache Solr
                    scenario (single node).

                    <br><br>

                    Chronix supports three different scenarios, pursuing different goals:
                </p>
                <ol>
                    <li><a href="https://github.com/ChronixDB/chronix.storage/">Chronix Storage:</a> Use Chronix as a
                        small storage library and plug it into your
                        application. It stores the time series using <a href="https://lucene.apache.org/core/">Apache
                            Lucene</a>.
                    </li>
                    <li><a href="https://github.com/ChronixDB/chronix.server/">Chronix Server:</a> Combine Chronix with
                        <a href="https://lucene.apache.org/solr/">Apache Solr</a> for a typical client-server scenario.
                        Apache Solr offers several useful features like scalability, fault tolerance, distributed
                        indexing, or replication.
                    </li>
                    <li><a href="https://github.com/ChronixDB/chronix.spark/">Chronix Spark:</a> Whenever you need a
                        parallel and distributed time series processing,
                        integrate Chronix with <a href="http://spark.apache.org/">Apache Spark</a>. Leverage Apache
                        Spark to process a time series in parallel.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>