<!-- Download section -->
<section class="bgGray" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Download</h2>
                <hr class="star-gray">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    For the latest release check the release pages of the three sub projects.
                </p>
                <ul>
                    <li><a href="https://github.com/ChronixDB/chronix.storage/releases">Chronix Storage</a></li>
                    <li><a href="https://github.com/ChronixDB/chronix.server/releases">Chronix Server</a></li>
                    <li><a href="https://github.com/ChronixDB/chronix.cluster/releases">Chronix Cluster</a></li>
                </ul>
                <p>
                    The releases of the time series library Chronix Kassiopeia could be found here <a
                        href="https://github.com/ChronixDB/chronix.kassiopeia/releases">Chronix Kassiopeia</a>
                    <br>
                    All sources can be found in our <a href="https://github.com/ChronixDB">ChronixDB GitHub
                    repository</a> .
                </p>
            </div>
        </div>
    </div>
</section>