<!-- Download section -->
<section class="bgWhite" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Download</h2>
                <hr class="star-white">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Check out the release pages for the latest versions of our subprojects:
                </p>
                <ul>
                    <li><a href="https://github.com/ChronixDB/chronix.server/releases">Chronix Server</a></li>
                    <li><a href="https://github.com/ChronixDB/chronix.storage/releases">Chronix Storage</a>
                    <li><a href="https://github.com/ChronixDB/chronix.spark/releases">Chronix Spark</a>
                </ul>
                <p>
                    The <a href="https://github.com/ChronixDB">ChronixDB account</a> on GitHub contains all sources of all projects and examples.
                </p>
            </div>
        </div>
    </div>
</section>