<!-- features Grid Section -->
<section id="features" class="bgWhite">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Why Chronix</h2>
                <hr class="star-white">
            </div>
        </div>
        <div class="row">

            <!-- Features -->
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/features/game.png" alt="easy">
                    <div class="caption text-center">
                        <h3>Easy to use</h3>
                        <p>Chronix is easy to use and integrated within minutes.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/features/submarine.png" alt="small">
                    <div class="caption text-center">
                        <h3>Small</h3>
                        <p>Chronix stores time series highly compressed.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/features/rocket.png" alt="fast">
                    <div class="caption text-center">
                        <h3>Fast</h3>
                        <p>Chronix has very fast query and analysis times.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Second row -->
            <div class="col-sm-4 col-sm-offset-2">
                <div class="thumbnail">
                    <img src="img/features/query.png" alt="expressive">
                    <div class="caption text-center">
                        <h3>Expressive</h3>
                        <p>Chronix has high-level query functions.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="img/features/guarantee.png" alt="expressive">
                    <div class="caption text-center">
                        <h3>Non-Commercial</h3>
                        <p>Chronix is free to use for everyone and forever.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>