<!-- Download section -->
<section class="bgGray" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Publications</h2>
                <hr class="star-gray">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    If you want to know more about Chronix you can check out our various publications about Chronix.
                    Below you can find an chronological ordered list with links to the talks, papers, and blog entries.
                </p>
                <br>

                <h4>2014</h4>
                <ul>
                    <li><a href="https://github.com/ChronixDB/chronix.server/releases">Chronix Server</a></li>
                    <li><a href="https://github.com/ChronixDB/chronix.kassiopeia/releases">Chronix Kassiopeia
                        (Format)</a>
                    <li><a href="https://github.com/ChronixDB/chronix.storage/releases">Chronix Storage</a>
                    <li><a href="https://github.com/ChronixDB/chronix.spark/releases">Chronix Spark</a>
                </ul>

                <h4>2015</h4>
                <ul>
                    <li>Apache Solr as a compressed, scalable and high performance time series database, FOSDEM, 2015.
                        Link: <br>
                        <a href="https://archive.fosdem.org/2015/schedule/event/apache_solr_as_a_compressed,_scalable_and_high_performance_time_series_database/">Slides</a></li>
                    <li>Fast and efficient operational time series storage: The missing link in dynamic software
                        analysis, Symposium on Software Performance, 2015. <br>
                        <a href="http://www.performance-symposium.org/fileadmin/user_upload/palladio-conference/2015/slides/06_FLautenschlager.pdf">Slides</a></li>
                </ul>

                <h4>2016</h4>
                <ul>
                    <li>Chronix – A fast and efficient time series storage based on Apache Solr, Open Source Data Center
                        Conference, 2016. <br>
                        Link: <a href="/">Comming Soon</a></li>
                    <li>The new time series kid on the block, Apache Con: Big Data, 2016.
                        <a href="http://www.performance-symposium.org/fileadmin/user_upload/palladio-conference/2015/slides/06_FLautenschlager.pdf">Slides</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>