<!-- Download section -->
<section class="bgWhite" id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Publications</h2>
                <hr class="star-white">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    If you want to know more about Chronix you can check out our various publications.
                    Below you can find a chronological ordered list with links to the talks, papers, and blog entries.
                </p>
                <h4>2017</h4>
                <ul>
                    <li>Chronix: Long Term Storage and Retrieval Technology for Anomaly Detection in Operational Data, FAST, 2017
                        <a href="https://de.slideshare.net/FlorianLautenschlage/chronix-long-term-storage-and-retrieval-technology-for-anomaly-detection-in-operational-data">Slides</a>
                        <a href="https://www.usenix.org/system/files/conference/fast17/fast17-lautenschlager.pdf">Paper</a>
                        <a href="https://de.slideshare.net/FlorianLautenschlage/chronix-poster-for-the-poster-session-fast-2017">Poster</a>
                    </li>
                </ul>
                <br>
                <h4>2016</h4>
                <ul>
                    <li>Chronix as long term storage for Prometheus, Cloud Native Conference, 2016,
                        <a href="http://www.slideshare.net/QAware/chronix-as-longterm-storage-for-prometheus">Slides</a>
                        <a href="https://www.youtube.com/watch?v=4fhXSgRmLHM&list=PLj6h78yzYM2PqgIGU1Qmi8nY7dqn9PCr4&index=62">Recording</a>
                    </li>
                    <li>Time Series Processing with Solr and Spark, Lucene Revolution, 2016,
                        <a href="http://www.slideshare.net/QAware/time-series-analysis-67281407">Slides</a>
                    </li>
                    <li>The new time series kid on the block, Apache Big Data North America, 2016,
                        <a href="https://de.slideshare.net/FlorianLautenschlage/the-new-time-series-kid-on-the-block">Slides</a>
                    </li>
                    <li>Time Series Processing with Apache Spark, Apache Big Data North America, 2016,
                        <a href="http://www.slideshare.net/adersberger/time-series-processing-with-apache-spark">Slides</a>
                    </li>
                    <li>Chronix – A fast and efficient time series storage based on Apache Solr, Open Source Data Center
                        Conference, 2016,
                        <a href="https://de.slideshare.net/FlorianLautenschlage/chronix-a-fast-and-efficient-time-series-storage-based-on-apache-solr">Slides</a>
                    </li>
                </ul>
                <br>
                <h4>2015</h4>
                <ul>
                    <li>Fast and efficient operational time series storage: The missing link in dynamic software
                        analysis, Symposium on Software Performance, 2015,
                        <a href="https://de.slideshare.net/FlorianLautenschlage/efficient-and-fast-time-series-storage-the-missing-link-in-dynamic-software-analysis">Slides</a>
                    </li>
                    <li>Open Source Project Chronix: An efficient and fast time series database based on Apache Solr,
                        2015,
                        <a href="http://qaware.blogspot.de/2015/12/open-source-project-chronix-efficient.html">Blog</a>
                    </li>
                    <li>Apache Solr as a compressed, scalable, and high performance time series database, 2015,
                        <a href="http://qaware.blogspot.de/2015/02/apache-solr-as-compressed-scalable-and.html">Blog</a>
                    </li>
                    <li>Apache Solr as a compressed, scalable and high performance time series database, FOSDEM, 2015,
                        <a href="https://de.slideshare.net/FlorianLautenschlage/apache-solr-as-a-compressed-scalable-and-high-performance-time-series-database">Slides</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>